In [1]:
import pandas as pd

In [2]:
src_table = pd.read_excel("DataSources.xlsx",index_col=0)

In [7]:
sources = list(set(src_table.SRC.to_list()))

In [8]:
sources

['GDP', 'FPI', 'NG', 'FERT', 'USDEUR']

In [10]:
src_table[src_table.SRC==sources[0]]

,API,SRC,TYPE,Download type,STATUS,S3 Location
5,FRED,GDP,A,US GDP - Historical,Complete,s3://insights-canpotex-downloads-sandboxlz/Fre...
6,EIA,GDP,F,US GDP - Forecast STEO,Complete,s3://insights-canpotex-downloads-sandboxlz/EIA...

# EURUSD

In [5]:
url = 's3://insights-canpotex-downloads-sandboxlz/Fred-downloads/EXUSEU/EXUSEU.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df # REQUIRES UPDATE!!!!!

              rate
date
2014-01-01  1.3618
2014-02-01  1.3665
2014-03-01  1.3828
2014-04-01  1.3810
2014-05-01  1.3739
...            ...
2022-05-01  1.0567
2022-06-01  1.0567
2022-07-01  1.0168
2022-08-01  1.0129
2022-09-01  0.9899

[105 rows x 1 columns]

# EURUSD - Forecast

In [3]:
url = 's3://insights-canpotex-downloads-sandboxlz/OECD-downloads/EXCHUD/EXCHUD.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df # Time update and resampling required

                rate
date
2014-01-01  0.753695
2015-01-01  0.901452
2016-01-01  0.904282
2017-01-01  0.887107
2018-01-01  0.847324
2019-01-01  0.893348
2020-01-01  0.877542
2021-01-01  0.845553
2022-01-01  0.931910
2023-01-01  0.948500

#  US GDP

In [11]:
url = 's3://insights-canpotex-downloads-sandboxlz/Fred-downloads/US_GDP/US_GDP.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df #Requires update | Resample to monthly | Index as datetime

               US_GDP
date
2014-01-01  17144.281
2014-04-01  17462.703
2014-07-01  17743.227
2014-10-01  17852.540
2015-01-01  17991.348
2015-04-01  18193.707
2015-07-01  18306.960
2015-10-01  18332.079
2016-01-01  18425.306
2016-04-01  18611.617
2016-07-01  18775.459
2016-10-01  18968.041
2017-01-01  19153.912
2017-04-01  19322.920
2017-07-01  19558.693
2017-10-01  19882.965
2018-01-01  20143.716
2018-04-01  20492.492
2018-07-01  20659.102
2018-10-01  20813.325
2019-01-01  21001.591
2019-04-01  21289.268
2019-07-01  21505.012
2019-10-01  21694.458
2020-01-01  21481.367
2020-04-01  19477.444
2020-07-01  21138.574
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  24002.815
2022-01-01  24386.734
2022-04-01  24882.878

In [ ]:
actual | forecast | consolidated

# US GDP - forecast

In [ ]:
url = 's3://insights-canpotex-downloads-sandboxlz/EIA-downloads/HenryHubGasPrice/nominalGDP.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df # Resample to monthly | Index as Datetime | Why do we have Qtr pricing (historical)

# NATURAL GAS PRICES

In [12]:
url = 's3://insights-canpotex-downloads-sandboxlz/EIA-downloads/HenryHubGasPrice/gasprice.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df #Requires update | Resample to monthly | Index as datetime

               realGDP    deflator    nominalGDP
date
2014 Q1   16654.247000  102.965000  1.714805e+06
2014 Q2   16868.109000  103.552000  1.746726e+06
2014 Q3   17064.616000  104.029000  1.775215e+06
2014 Q4   17141.235000  104.104000  1.784471e+06
2015 Q1   17280.647000  104.092000  1.798777e+06
2015 Q2   17380.875000  104.683000  1.819482e+06
2015 Q3   17437.080000  104.939000  1.829830e+06
2015 Q4   17462.579000  104.932000  1.832383e+06
2016 Q1   17565.465000  104.873000  1.842143e+06
2016 Q2   17618.581000  105.576000  1.860099e+06
2016 Q3   17724.489000  105.894000  1.876917e+06
2016 Q4   17812.560000  106.470000  1.896503e+06
2017 Q1   17896.623000  107.007000  1.915064e+06
2017 Q2   17996.802000  107.361000  1.932155e+06
2017 Q3   18126.226000  107.942000  1.956581e+06
2017 Q4   18296.685000  108.658000  1.988081e+06
2018 Q1   18436.262000  109.312000  2.015305e+06
2018 Q2   18590.004000  110.156000  2.047800e+06
2018 Q3   18679.599000  110.647000  2.066842e+06
2018 Q4   18721.281000  111.191000  2.081638e+06
2019 Q1   18833.195000  111.502000  2.099939e+06
2019 Q2   18982.528000  112.142000  2.128739e+06
2019 Q3   19112.653000  112.524000  2.150632e+06
2019 Q4   19202.310000  112.947000  2.168843e+06
2020 Q1   18951.992000  113.397000  2.149099e+06
2020 Q2   17258.205000  112.969000  1.949642e+06
2020 Q3   18560.774000  113.984000  2.115631e+06
2020 Q4   18767.778000  114.611000  2.150994e+06
2021 Q1   19055.655000  115.826000  2.207140e+06
2021 Q2   19368.310000  117.546000  2.276667e+06
2021 Q3   19478.893000  119.259000  2.323033e+06
2021 Q4   19806.290000  121.331000  2.403117e+06
2022 Q1   19727.918000  123.745000  2.441231e+06
2022 Q2   19681.682000  126.367000  2.487115e+06
2022 Q3   19708.221086  127.798804  2.518687e+06
2022 Q4   19765.920000  129.345167  2.556626e+06
2023 Q1   19856.340000  130.324500  2.587768e+06
2023 Q2   19968.900000  131.109800  2.618118e+06
2023 Q3   20089.940000  131.921533  2.650296e+06
2023 Q4   20199.320000  132.782933  2.682125e+06

# NATURAL GAS FORECAST

In [16]:
url = 's3://insights-canpotex-downloads-sandboxlz/EIA-downloads/HenryHubGasPrice/gaspricesteo.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df # (need a tag for last updated) | Why do we have quarterly pricing above?

            Natural Gas Henry Hub Spot Price ($/mmBtu), Monthly (dollars per million Btu)
date
2014-01-01                                           4.713000
2014-02-01                                           5.999000
2014-03-01                                           4.903000
2014-04-01                                           4.658000
2014-05-01                                           4.581000
...                                                       ...
2023-08-01                                           5.311649
2023-09-01                                           5.227389
2023-10-01                                           5.252002
2023-11-01                                           5.375758
2023-12-01                                           5.528791

[120 rows x 1 columns]

# TOTAL FERTILIZER PRODUCTION

In [22]:
url = 's3://insights-canpotex-downloads-sandboxlz/FAO-downloads/totalFertilizationProductionHist/totalFertilizerProduction.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df # No dates...

      Production
0   8.077018e+07
1   8.557887e+07
2   9.627682e+07
3   1.071527e+08
4   1.207713e+08
5   1.349903e+08
6   1.478641e+08
7   1.574102e+08
8   1.665242e+08
9   1.792081e+08
10  1.916549e+08
11  2.079913e+08
12  2.239916e+08
13  2.252638e+08
14  2.309041e+08
15  2.469501e+08
16  2.672794e+08
17  2.881336e+08
18  2.990878e+08
19  3.143091e+08
20  3.013941e+08
21  3.048333e+08
22  3.335055e+08
23  3.582535e+08
24  3.501886e+08
25  3.646741e+08
26  3.862575e+08
27  4.016293e+08
28  3.953815e+08
29  3.845703e+08
30  3.755186e+08
31  3.601912e+08
32  3.482921e+08
33  3.634673e+08
34  3.867591e+08
35  3.930453e+08
36  3.992106e+08
37  4.023886e+08
38  4.090688e+08
39  3.996668e+08
40  3.991934e+08
41  4.107259e+08
42  4.282294e+08
43  4.591345e+08
44  4.585575e+08
45  4.587378e+08
46  4.931625e+08
47  4.708031e+08
48  4.251732e+08
49  5.133954e+08
50  5.377108e+08
51  5.326915e+08
52  5.476923e+08
53  5.755538e+08
54  5.856507e+08
55  5.824583e+08
56  6.159347e+08
57  6.059243e+08
58  6.070998e+08
59  6.272238e+08

# TOTAL FERTILIZER PRODUCTION FORECAST

In [23]:
url = None
df = pd.read_csv(url,index_col=0,parse_dates=True)
df # (need a tag for last updated) | Why do we have quarterly pricing above?

ValueError: Invalid file path or buffer object type: <class 'NoneType'>

# FOOD PRICE INDEX

In [26]:
url = 's3://insights-canpotex-downloads-sandboxlz/FAO-downloads/FoodPriceIndex/FoodPriceIndex-hist.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df #Requires cleanup NaN values and index as datetime

            FoodPriceIndex
Date
1990-01-01            64.1
1990-02-01            64.5
1990-03-01            63.8
1990-04-01            65.8
1990-05-01            64.4
...                    ...
NaT                    NaN
NaT                    NaN
NaT                    NaN
NaT                    NaN
NaT                    NaN

[401 rows x 1 columns]

# FOOD PRIE INDEX FORECAST

In [27]:
url = 's3://insights-canpotex-downloads-sandboxlz/FAO-downloads/FoodPriceIndex/FoodPriceIndex-forecast.csv'
df = pd.read_csv(url,index_col=0,parse_dates=True)
df #Requires cleanup NaN values and index as datetime

            FoodPriceIndex
year
1991-01-01       62.100000
1992-01-01       63.900000
1993-01-01       61.900000
1994-01-01       66.900000
1995-01-01       76.600000
1996-01-01       77.600000
1997-01-01       70.600000
1998-01-01       64.700000
1999-01-01       55.200000
2000-01-01       53.300000
2001-01-01       55.000000
2002-01-01       53.100000
2003-01-01       57.800000
2004-01-01       65.600000
2005-01-01       67.400000
2006-01-01       72.600000
2007-01-01       94.300000
2008-01-01      117.500000
2009-01-01       91.700000
2010-01-01      106.700000
2011-01-01      131.900000
2012-01-01      122.800000
2013-01-01      120.100000
2014-01-01      115.000000
2015-01-01       93.000000
2016-01-01       91.900000
2017-01-01       98.000000
2018-01-01       95.900000
2019-01-01       95.100000
2020-01-01       98.100000
2021-01-01      125.800000
2022-01-01      135.712351
2023-01-01      122.385439
2024-01-01      114.363119
2025-01-01      112.811868
2026-01-01      113.008171
2027-01-01      114.283639
2028-01-01      115.529689
2029-01-01      116.830404
2030-01-01      117.994708
2031-01-01      119.158837