In [2]:
from datetime import datetime
import pandas as pd
from datapipelineAWS import DataFeed

In [3]:
self = DataFeed()

In [4]:
self.sources

['USDEUR', 'FERT', 'GDP', 'NG', 'FPI']

In [ ]:
self.get_gdp.tail(2)

In [ ]:
self.get_fertilizer_production.tail(2)

In [ ]:
self.get_naturalgas.tail(2)

In [5]:
self.get_usdeur.tail(2)

              USDEUR
Date
2023-11-01  0.886688
2023-12-01  0.891093

In [6]:
source = "FPI"

a = self.src_table[self.src_table.SRC==source]

# S3 LINKS
actual_s3_link = self.get_s3_link(source,'A')
forecast_s3_link = self.get_s3_link(source,'F')

# READ DATA
actual = pd.read_parquet(actual_s3_link)
forecast = pd.read_parquet(forecast_s3_link)

In [8]:
# REMOVING ADDITIONAL COLUMNS
actual.dropna(inplace=True)

In [10]:
actual

        Date  FoodPriceIndex
0    1990-01            64.1
1    1990-02            64.5
2    1990-03            63.8
3    1990-04            65.8
4    1990-05            64.4
..       ...             ...
387  2022-04           158.4
388  2022-05           158.1
389  2022-06           154.7
390  2022-07           140.7
391  2022-08           138.0

[392 rows x 2 columns]

In [12]:
forecast.dropna(inplace=True)

In [13]:
forecast

        Date  FoodPriceIndex
0    1990-01            64.1
1    1990-02            64.5
2    1990-03            63.8
3    1990-04            65.8
4    1990-05            64.4
..       ...             ...
387  2022-04           158.4
388  2022-05           158.1
389  2022-06           154.7
390  2022-07           140.7
391  2022-08           138.0

[392 rows x 2 columns]

# EURUSD

In [14]:
url = self.get_s3_link("USDEUR",'A')
df = pd.read_parquet(url)
df # REQUIRES UPDATE!!!!!

           date    rate
0    2014-01-01  1.3618
1    2014-02-01  1.3665
2    2014-03-01  1.3828
3    2014-04-01  1.3810
4    2014-05-01  1.3739
..          ...     ...
101  2022-06-01  1.0567
102  2022-07-01  1.0168
103  2022-08-01  1.0129
104  2022-09-01  0.9899
105  2022-10-01  0.9853

[106 rows x 2 columns]

# EURUSD - Forecast

In [15]:
url = self.get_s3_link("USDEUR",'F')
df = pd.read_parquet(url)
df # REQUIRES UPDATE!!!!!

   date      rate
0  2014  0.753695
1  2015  0.901452
2  2016  0.904282
3  2017  0.887107
4  2018  0.847324
5  2019  0.893348
6  2020  0.877542
7  2021  0.845553
8  2022  0.931910
9  2023  0.948500

#  US GDP

In [16]:
url = self.get_s3_link("GDP",'A')
df = pd.read_parquet(url)
df

          date     US_GDP
0   2014-01-01  17144.281
1   2014-04-01  17462.703
2   2014-07-01  17743.227
3   2014-10-01  17852.540
4   2015-01-01  17991.348
5   2015-04-01  18193.707
6   2015-07-01  18306.960
7   2015-10-01  18332.079
8   2016-01-01  18425.306
9   2016-04-01  18611.617
10  2016-07-01  18775.459
11  2016-10-01  18968.041
12  2017-01-01  19148.194
13  2017-04-01  19304.506
14  2017-07-01  19561.896
15  2017-10-01  19894.750
16  2018-01-01  20155.486
17  2018-04-01  20470.197
18  2018-07-01  20687.278
19  2018-10-01  20819.269
20  2019-01-01  21013.085
21  2019-04-01  21272.448
22  2019-07-01  21531.839
23  2019-10-01  21706.532
24  2020-01-01  21538.032
25  2020-04-01  19636.731
26  2020-07-01  21362.428
27  2020-10-01  21704.706
28  2021-01-01  22313.850
29  2021-04-01  23046.934
30  2021-07-01  23550.420
31  2021-10-01  24349.121
32  2022-01-01  24740.480
33  2022-04-01  25248.476
34  2022-07-01  25663.289

# US GDP - forecast

In [17]:
url = self.get_s3_link("GDP",'F')
df = pd.read_parquet(url)
df

        date       realGDP    deflator  nominalGDP
0   2014 Q1   16654.247000  102.965000   17148.045
1   2014 Q2   16868.109000  103.552000   17467.264
2   2014 Q3   17064.616000  104.029000   17752.149
3   2014 Q4   17141.235000  104.104000   17844.711
4   2015 Q1   17280.647000  104.092000   17987.771
5   2015 Q2   17380.875000  104.683000   18194.821
6   2015 Q3   17437.080000  104.939000   18298.297
7   2015 Q4   17462.579000  104.932000   18323.833
8   2016 Q1   17565.465000  104.873000   18421.430
9   2016 Q2   17618.581000  105.576000   18600.993
10  2016 Q3   17724.489000  105.894000   18769.170
11  2016 Q4   17812.560000  106.470000   18965.033
12  2017 Q1   17889.094000  107.022000   19145.266
13  2017 Q2   17979.218000  107.363000   19303.028
14  2017 Q3   18127.994000  107.948000   19568.807
15  2017 Q4   18310.300000  108.639000   19892.127
16  2018 Q1   18437.127000  109.365000   20163.764
17  2018 Q2   18565.697000  110.176000   20454.942
18  2018 Q3   18699.748000  110.680000   20696.881
19  2018 Q4   18733.741000  111.155000   20823.490
20  2019 Q1   18835.411000  111.560000   21012.785
21  2019 Q2   18962.175000  112.184000   21272.526
22  2019 Q3   19130.932000  112.558000   21533.394
23  2019 Q4   19215.691000  112.910000   21696.437
24  2020 Q1   18989.877000  113.427000   21539.648
25  2020 Q2   17378.712000  113.053000   19647.155
26  2020 Q3   18743.720000  114.032000   21373.839
27  2020 Q4   18924.262000  114.744000   21714.455
28  2021 Q1   19216.224000  116.199000   22329.060
29  2021 Q2   19544.248000  117.974000   23057.131
30  2021 Q3   19672.594000  119.763000   23560.489
31  2021 Q4   20006.181000  121.758000   24359.126
32  2022 Q1   19924.088000  124.209000   24747.510
33  2022 Q2   19895.271000  126.914000   25249.884
34  2022 Q3   20002.890000  128.092500   25622.202
35  2022 Q4   19963.308272  129.735014   25899.401
36  2023 Q1   19872.150000  131.007967   26034.100
37  2023 Q2   19862.610000  131.945700   26207.860
38  2023 Q3   19949.323333  132.824733   26497.636
39  2023 Q4   20039.400000  133.734333   26799.558

# NATURAL GAS PRICES

In [18]:
url = self.get_s3_link("NG",'A')
df = pd.read_parquet(url)
df

           date  rate
0    2014-01-01  4.71
1    2014-02-01  6.00
2    2014-03-01  4.90
3    2014-04-01  4.66
4    2014-05-01  4.58
..          ...   ...
101  2022-06-01  7.70
102  2022-07-01  7.28
103  2022-08-01  8.81
104  2022-09-01  7.88
105  2022-10-01  5.66

[106 rows x 2 columns]

# NATURAL GAS FORECAST

In [21]:
url = self.get_s3_link("NG",'F')
df = pd.read_parquet(url)
df

           date      rate
0    2014-01-01  4.713000
1    2014-02-01  5.999000
2    2014-03-01  4.903000
3    2014-04-01  4.658000
4    2014-05-01  4.581000
..          ...       ...
115  2023-08-01  5.226886
116  2023-09-01  5.176351
117  2023-10-01  5.220809
118  2023-11-01  5.383954
119  2023-12-01  5.597925

[120 rows x 2 columns]

# TOTAL FERTILIZER PRODUCTION

In [20]:
url = self.get_s3_link("FERT",'A')
df = pd.read_parquet(url)
df

        Production
Year
1961  8.077018e+07
1962  8.557887e+07
1963  9.627682e+07
1964  1.071527e+08
1965  1.207713e+08
1966  1.349903e+08
1967  1.478641e+08
1968  1.574102e+08
1969  1.665242e+08
1970  1.792081e+08
1971  1.916549e+08
1972  2.079913e+08
1973  2.239916e+08
1974  2.252638e+08
1975  2.309041e+08
1976  2.469501e+08
1977  2.672794e+08
1978  2.881336e+08
1979  2.990878e+08
1980  3.143091e+08
1981  3.013941e+08
1982  3.048333e+08
1983  3.335055e+08
1984  3.582535e+08
1985  3.501886e+08
1986  3.646741e+08
1987  3.862575e+08
1988  4.016293e+08
1989  3.953815e+08
1990  3.845703e+08
1991  3.755186e+08
1992  3.601912e+08
1993  3.482921e+08
1994  3.634673e+08
1995  3.867591e+08
1996  3.930453e+08
1997  3.992106e+08
1998  4.023886e+08
1999  4.090688e+08
2000  3.996668e+08
2001  3.991934e+08
2002  4.107259e+08
2003  4.282294e+08
2004  4.591345e+08
2005  4.585575e+08
2006  4.587378e+08
2007  4.931625e+08
2008  4.708031e+08
2009  4.251732e+08
2010  5.133954e+08
2011  5.377108e+08
2012  5.326915e+08
2013  5.476923e+08
2014  5.755538e+08
2015  5.856507e+08
2016  5.824583e+08
2017  6.159347e+08
2018  6.059243e+08
2019  6.070998e+08
2020  6.272238e+08

# TOTAL FERTILIZER PRODUCTION FORECAST

In [22]:
url = self.get_s3_link("FERT",'F')
df = pd.read_parquet(url)
df

    year TotalFertilizerForecast
0  2016                   244131
1  2017                   249101
2  2018                   255861
3  2019                   262387
4  2020                   263764
5  2021                   266756
6  2022                   269482

# FOOD PRICE INDEX

In [23]:
url = self.get_s3_link("FPI",'A')
df = pd.read_parquet(url)
df

        Date  FoodPriceIndex
0    1990-01            64.1
1    1990-02            64.5
2    1990-03            63.8
3    1990-04            65.8
4    1990-05            64.4
..       ...             ...
396     None             NaN
397     None             NaN
398     None             NaN
399     None             NaN
400     None             NaN

[401 rows x 2 columns]

# FOOD PRIE INDEX FORECAST

In [24]:
url = self.get_s3_link("FPI",'F')
df = pd.read_parquet(url)
df

        Date  FoodPriceIndex
0    1990-01            64.1
1    1990-02            64.5
2    1990-03            63.8
3    1990-04            65.8
4    1990-05            64.4
..       ...             ...
396     None             NaN
397     None             NaN
398     None             NaN
399     None             NaN
400     None             NaN

[401 rows x 2 columns]