In [2]:
import pandas as pd

FROM CANPOTEX

get interim pricing {PDF file}
create product table
get roller forecast data by region (STD and PRM)

In [7]:
interim_k20 = pd.read_csv("s3://insights-canpotex-datalake/market_update_pdf/final_dataset/final_interim_price.csv",index_col=0)

In [26]:
def interim_pricing_df(std,prm):
    structure = [
        ['CanpotexPool', 'Grade', 'ProductAnalysis', 'US/MT-K2O', 'US/MT-KCL'],
        ['standard', 'Standard', 0.605, 100, 60.5],
        ['standard', 'Suspension', 0.605, 100, 60.5],
        ['premium', 'Coarse', 0.608, 200, 121.6],
        ['premium', 'Granular', 0.608, 200, 121.6],
        ['premium', 'Ind. Sol 2', 0.625, 200, 125.0],
        ['premium', 'Soluble', 0.625, 200, 125.0],
        ['premium', 'Ref/Soft', 0.63, 200, 126.0],
        ['standard', 'Wh. Standard', 0.625, 100, 62.5],
        ['premium', 'Wh. Granular', 0.625, 200, 125.0],
        ['premium', 'Chicklets', 0.625, 200, 125.0],
        ['premium', 'Prills', 0.61, 200, 122.0]
    ]
    
    d = pd.DataFrame(structure[1:],columns=structure[0])

    d['US/MT-K2O'] = d.apply(lambda x: std if x.CanpotexPool=='standard' else prm, axis=1)
    d['US/MT-KCL'] = d['US/MT-K2O']*d.ProductAnalysis
    return d

In [28]:
interim_pricing_df(*interim_k20.iloc[-1][['Standard K20 Price','Premium K20 Price']].values.tolist())

   CanpotexPool         Grade  ProductAnalysis  US/MT-K2O  US/MT-KCL
0      standard      Standard            0.605      228.0    137.940
1      standard    Suspension            0.605      228.0    137.940
2       premium        Coarse            0.608      252.0    153.216
3       premium      Granular            0.608      252.0    153.216
4       premium    Ind. Sol 2            0.625      252.0    157.500
5       premium       Soluble            0.625      252.0    157.500
6       premium      Ref/Soft            0.630      252.0    158.760
7      standard  Wh. Standard            0.625      228.0    142.500
8       premium  Wh. Granular            0.625      252.0    157.500
9       premium     Chicklets            0.625      252.0    157.500
10      premium        Prills            0.610      252.0    153.720

In [8]:
# roller_transformation.ipynb
master_region_df = pd.read_csv('s3://insights-canpotex-datalake/ROLLER/consolidated/master-region.csv')

In [9]:
master_region_df

,Load_Time,File_Year,File_Month,Region,Grade,Type,Period,Year,Frequency,Value,Unit
0,2022-11-08 17:13:07.446007,2019,4,All Regions,All_Grades,Forecast_mt,Month,2019,3,932192.300000,mt
1,2022-11-08 17:13:07.446007,2019,4,Asia,All_Grades,Forecast_mt,Month,2019,3,654174.000000,mt
2,2022-11-08 17:13:07.446007,2019,4,Asia,STD _P,Forecast_mt,Month,2019,3,446080.000000,mt
3,2022-11-08 17:13:07.446007,2019,4,Asia,PRM _P,Forecast_mt,Month,2019,3,208094.000000,mt
4,2022-11-08 17:13:07.446007,2019,4,Latin America,All_Grades,Forecast_mt,Month,2019,3,205618.010000,mt
...,...,...,...,...,...,...,...,...,...,...,...
9595,2022-11-08 17:13:37.092552,2022,9,Europe,STD _P,Forecast_Netback,Quarter,2022,1,878.598436,($/mt)
9596,2022-11-08 17:13:37.092552,2022,9,Europe,PRM _P,Forecast_Netback,Quarter,2022,1,998.510000,($/mt)
9597,2022-11-08 17:13:37.092552,2022,9,Africa,All_Grades,Forecast_Netback,Quarter,2022,1,0.000000,($/mt)
9598,2022-11-08 17:13:37.092552,2022,9,Africa,STD _P,Forecast_Netback,Quarter,2022,1,0.000000,($/mt)
9599,2022-11-08 17:13:37.092552,2022,9,Africa,PRM _P,Forecast_Netback,Quarter,2022,1,0.000000,($/mt)

### Interim Pricing >> Actual | Commercial Hana Cube

In [3]:
master_df.to_parquet('master-region.parquet')

In [10]:
master_df = pd.read_parquet('s3://insights-canpotex-datalake/ROLLER/consolidated/master-region.parquet')

In [11]:
master_df[master_df.Region=='All Regions']

,Load_Time,File_Year,File_Month,Region,Grade,Type,Period,Year,Frequency,Value,Unit
0,2022-11-08 17:13:07.446007,2019,4,All Regions,All_Grades,Forecast_mt,Month,2019,3,9.321923e+05,mt
16,2022-11-08 17:13:07.446007,2019,4,All Regions,All_Grades,Forecast_Netback,Month,2019,3,2.281031e+02,($/mt)
32,2022-11-08 17:13:07.446007,2019,4,All Regions,All_Grades,Forecast_mt,Month,2019,4,1.028446e+06,mt
48,2022-11-08 17:13:07.446007,2019,4,All Regions,All_Grades,Forecast_Netback,Month,2019,4,2.301548e+02,($/mt)
64,2022-11-08 17:13:07.446007,2019,4,All Regions,All_Grades,Forecast_mt,Month,2019,5,1.136793e+06,mt
...,...,...,...,...,...,...,...,...,...,...,...
9520,2022-11-08 17:13:37.092552,2022,9,All Regions,All_Grades,Forecast_Netback,Quarter,2022,3,6.826650e+02,($/mt)
9536,2022-11-08 17:13:37.092552,2022,9,All Regions,All_Grades,Forecast_mt,Quarter,2022,4,3.262635e+06,mt
9552,2022-11-08 17:13:37.092552,2022,9,All Regions,All_Grades,Forecast_Netback,Quarter,2022,4,6.836092e+02,($/mt)
9568,2022-11-08 17:13:37.092552,2022,9,All Regions,All_Grades,Forecast_mt,Quarter,2022,1,1.637200e+06,mt
9584,2022-11-08 17:13:37.092552,2022,9,All Regions,All_Grades,Forecast_Netback,Quarter,2022,1,7.667548e+02,($/mt)

In [16]:
master_df[
    (master_df.Frequency==4)&
    (master_df.Year==2020)&
    #(master_df.Type=='Forecast_mt')&
    # (master_df.File_Month==4)&
    (master_df.Grade!='All_Grades')
]

,Load_Time,File_Year,File_Month,Region,Grade,Type,Period,Year,Frequency,Value,Unit
1442,2022-11-08 17:13:09.544195,2020,4,Asia,STD _P,Forecast_mt,Month,2020,4,482543.000000,mt
1443,2022-11-08 17:13:09.544195,2020,4,Asia,PRM _P,Forecast_mt,Month,2020,4,330720.000000,mt
1445,2022-11-08 17:13:09.544195,2020,4,Latin America,STD _P,Forecast_mt,Month,2020,4,15429.000000,mt
1446,2022-11-08 17:13:09.544195,2020,4,Latin America,PRM _P,Forecast_mt,Month,2020,4,345824.000000,mt
1448,2022-11-08 17:13:09.544195,2020,4,Oceania,STD _P,Forecast_mt,Month,2020,4,14922.000000,mt
...,...,...,...,...,...,...,...,...,...,...,...
8025,2022-11-08 17:13:35.105786,2021,1,Oceania,PRM _P,Forecast_Netback,Quarter,2020,4,175.470911,($/mt)
8027,2022-11-08 17:13:35.105786,2021,1,Europe,STD _P,Forecast_Netback,Quarter,2020,4,145.881198,($/mt)
8028,2022-11-08 17:13:35.105786,2021,1,Europe,PRM _P,Forecast_Netback,Quarter,2020,4,208.338133,($/mt)
8030,2022-11-08 17:13:35.105786,2021,1,Africa,STD _P,Forecast_Netback,Quarter,2020,4,0.000000,($/mt)
8031,2022-11-08 17:13:35.105786,2021,1,Africa,PRM _P,Forecast_Netback,Quarter,2020,4,0.000000,($/mt)