In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import os 
from datapipeline import DataFeed

In [1]:
from models import BrazilCFR

In [2]:
self = BrazilCFR()

In [3]:
self.base_prediction

Brazil: $888.36 ->> $1091.05 | 22.8% up

1091.0472842286488

In [4]:
fao = self.get_food_price_index
fao['std_8'] = fao['Food Price Index'].rolling(window=8).std()
fao['std_6'] = fao['Food Price Index'].rolling(window=6).std()
fao['std_3'] = fao['Food Price Index'].rolling(window=3).std()

In [6]:
# FOR THE LATEST CASE - NOT BACKTESTING
fao

            Food Price Index      std_8      std_6      std_3
Date
1990-01-01         64.145081        NaN        NaN        NaN
1990-02-01         64.453560        NaN        NaN        NaN
1990-03-01         63.787064        NaN        NaN   0.333554
1990-04-01         65.766754        NaN        NaN   1.007296
1990-05-01         64.378874        NaN        NaN   1.016171
...                      ...        ...        ...        ...
2022-03-01        159.713180  10.037283  10.163704  12.644389
2022-04-01        158.435720  11.763876  11.968605  10.414547
2022-05-01        157.885279  12.095372  12.247982   0.937738
2022-06-01        154.255871  11.603364  10.247076   2.271076
2022-07-01        140.935537  10.946680   8.746569   8.924663

[391 rows x 4 columns]

In [13]:
(self.get_total_fertilizer_production**2).rolling(window=60).std()

            Total Fertilizer Production
Year
2016-01-01                          NaN
2016-02-01                          NaN
2016-03-01                          NaN
2016-04-01                          NaN
2016-05-01                          NaN
...                                 ...
2022-03-01                 3.235034e+09
2022-04-01                 3.196077e+09
2022-05-01                 3.146627e+09
2022-06-01                 3.086179e+09
2022-07-01                 3.014072e+09

[79 rows x 1 columns]