In [4]:
from models import ActualNetback, MineNetBack
import os
import pandas as pd

In [ ]:
self = ActualNetback()

In [6]:
file_name = 'Historical_MineNetback.xlsx'
src_file = os.path.join(self.src,file_name)
df = pd.read_excel(src_file,index_col=0,parse_dates=True)

In [8]:
lag1 = 0
lag2 = 1
lag3 = 6

In [9]:
std_window1 = 12
mine_std_window2 = 12
mine_std_window3 = 12

In [ ]:
df['lag1']

In [ ]:
mineNetback_predict = MineNetBack().predict()
mainNetback_std = self.get_mi

In [3]:
iterim = self.get_interimPricing

            InterimPricing      std_12
Date
2014-01-01      205.195738         NaN
2014-02-01      210.529497         NaN
2014-03-01      221.211879         NaN
2014-04-01      224.690004         NaN
2014-05-01      223.694383         NaN
...                    ...         ...
2022-03-01      542.513635  136.676991
2022-04-01      580.571322  144.223494
2022-05-01      642.309268  152.425991
2022-06-01      700.956338  159.077032
2022-07-01      696.350225  157.364381

[103 rows x 2 columns]