In [1]:
from datapipeline import DataFeed

In [2]:
d = DataFeed()

In [3]:
d.get_food_price_index

            Food Price Index
Date
NaT                      NaN
1990-01-01         64.145081
1990-02-01         64.453560
1990-03-01         63.787064
1990-04-01         65.766754
...                      ...
2022-03-01        159.713180
2022-04-01        158.435720
2022-05-01        157.885279
2022-06-01        154.255871
2022-07-01        140.935537

[392 rows x 1 columns]

In [ ]:
def excel_to_python(excel_data_string):

In [11]:
excel_data_string = """MineNetback	0.41
MineNetback_1	-0.14
MineNetback_6	-0.13
WarDummy	11.50
Q1Dummy	2.84
Q2Dummy	0.00
Q3Dummy	-1.30
Interim	0.84
"""
print(*["self."+i for i in f"""{excel_data_string}
""".replace("\t"," = ").split("\n")],sep='\n')

self.MineNetback = 0.41
self.MineNetback_1 = -0.14
self.MineNetback_6 = -0.13
self.WarDummy = 11.50
self.Q1Dummy = 2.84
self.Q2Dummy = 0.00
self.Q3Dummy = -1.30
self.Interim = 0.84
self.
self.

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel('https://www.eia.gov/outlooks/steo/xls/STEO_m.xlsx')

In [ ]:
'https://www.eia.gov/outlooks/steo/xls/STEO_m.xlsx'